infrastructure_folder_id           = "123456789123"
service1_folder_id                 = "234567891234"
org_admin_email                    = "org.admin@xxx.xxx"
org_admin_group_account            = "gcp-organization-admin@xxx.xxx.xxx"
infrastructure_admin_email         = "infra.admin@xxx.xxx"
infrastructure_admin_group_account = "gcp-network-admin@xxx.xxx.xxx"
service1_admin_email               = "service1.admin@xxx.xxx"
service1_admin_group_account       = "gcp-service1-admin@xxx.xxx.xxx"
terraform_service_accounts         = "terraform@[terraform-project-id].iam.gserviceaccount.com"
